<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <meta name="description" content="<%= title %> — Ежедневный совет по программированию — <%= id %>">
    <meta name="author" content="Егор Егоров">

    <title><%= title %> — Ежедневный совет по программированию - <%= id %></title>

    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <link rel="manifest" href="/favicon/manifest.json">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/4.6.0/css/bootstrap.min.css" integrity="sha512-P5MgMn1jBN01asBgU0z60Qk4QxiXo86+wlFahKrsQf37c9cro517WzVSPPV1tDKzhku2iJ2FVgL67wG03SGnNA==" crossorigin="anonymous" referrerpolicy="no-referrer" />    <link rel="stylesheet" href="../style-v6.css">

    <link rel="alternate" type="application/rss+xml" href="https://deadcode.dev/rss2.xml" />
  </head>
  <body>
    <div class="container-fluid main">
      <div class="row justify-content-center">
        <div class="col contentWidth mb-4">

          <a href="/<%= id %>/" class="advice">#<%= id %></a>

          <h3 class="mb-4"><a href="/<%= id %>/"><%= title %></a></h3>

          <%- html %>

          <div class="footer">
            Этот и другие советы публикуются в моем личном телеграм-канале. Подпишись и получай каждый день полезный совет для программистов:

            <div class="channelLink">
              <a href="tg://resolve?domain=deadcode0x">@deadcode0x</a>
            </div>

            <div class="others">
              <a href="/">Остальные советы &raquo;</a>
            </div>

            <div class="copyright">
              &copy;&nbsp;2020-2022 Егор&nbsp;Егоров <a href="mailto:me@egorfine.com">me@egorfine.com</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
